{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "react-native-reanimated/plugin",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          // This needs to be mirrored in tsconfig.json
          "@constants": "./app/constants",
          "@screens": "./app/screens",
          "@store": "./data/store"
        }
      }
    ]
  ]
}
